.input label {
    font-size: 1.8rem;
}

.geometry-section .section {
    width: 30%;
    height: 40vh;
}

.discounter-section {
    width: 80%;
}

.input-container--financial label {
    font-size: 1.8rem;
}